* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrap {
    width: 90%;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
  }
  .contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
  }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto;
  }
  .contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px;
  }
  .contenedor-formulario .formulario .input-group input, .contenedor-formulario .formulario .input-group textarea{
    font-family: "Roboto";
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #bbdefb;
    color:rgba(255,255,255,.8);
  }
  .contenedor-formulario .formulario .input-group textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 400px;
  }
  .contenedor-formulario .formulario .input-group input:focus,.contenedor-formulario .formulario .input-group textarea:focus{
    outline: none;
    border-bottom: 2px solid #bbdefb;
  }
  .contenedor-formulario .formulario .input-group input.error, .contenedor-formulario .formulario .input-group textarea.error{
    border-bottom: 2px solid #d32f2f;
  }
  .contenedor-formulario .formulario .input-group input.error + label, .contenedor-formulario .formulario .input-group textarea.error + label{
    color: #d32f2f;
  }
  .contenedor-formulario .formulario .input-group label {
    color: rgba(255,255,255,.8);
  }
  .contenedor-formulario .formulario .input-group label.label {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 16px;
    left: 0;
  }
  .contenedor-formulario .formulario .input-group label.label.active {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: #b6b6b6;
  }
  .contenedor-formulario .formulario .input-group.error label {
    color: #d32f2f;
  }
  .contenedor-formulario .formulario .input-group.error label:hover {
    background: rgba(211, 47, 47, 0.2);
  }
  .contenedor-formulario .formulario .input-group.error label:before {
    border: 2px solid #d32f2f;
  }
  .contenedor-formulario .formulario input[type='submit']{
      letter-spacing: .6px;
      margin-top: 30px;
      background: #38546d;
      border:none;
      padding:15px 8rem;
      cursor: pointer;
      border-radius: 25px;
      color: #a3c8e7;
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 16px;
  }
  .contenedor-formulario .formulario input[type='submit']:hover{
    transition: .3s all ease;
    background: #6491b6;
    color: #426a8a;
  }


  @media screen and (max-width: 550px){
    .wrap{
      width: 100%;
      padding:10px;
    }
    .contenedor-formulario .formulario input[type="submit"]{
      width: 100%;
      padding: 15px 0;
    }
  }


  